<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pray.mapper.BorrowMapper">

    <resultMap id="BaseResultMap" type="com.pray.entity.po.Borrow">
            <id property="borrowId" column="borrow_id" jdbcType="INTEGER"/>
            <result property="bookId" column="book_id" jdbcType="TINYINT"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        borrow_id,book_id,id
    </sql>
    <select id="selectBorrowUser" resultType="Map">
        select tb_book.book_name,mid.username , mid.user_id ,mid.book_id
        from tb_book inner join (select bu.username,bu.user_id,bw.book_id from
                     tb_book_user bu inner join tb_borrow
                           bw on bu.user_id = bw.id )
            as mid on mid.book_id=tb_book.book_id
    </select>
    <insert id="insertBorrowRecord">
        insert into tb_borrow(id,book_id) VALUE (#{userId},#{bookId})
    </insert>
    <select id="selectBorrowDetails" resultType="Map">
        select bu.username,bn.book_name from tb_book_user as bu right join (select book_name
                                                                         from tb_book where
                         book_id=(select distinct (book_id) from tb_borrow
                   where tb_borrow.book_id=#{bookId}                                                                                                                                      and borrow.user_id=#{userId})) as bn on bu.user_id=#{userId}
    </select>
</mapper>
